header.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header.app-header nav {
  position: absolute;
  display: grid;
  left: 10px;
  top: 10px;
  width: 2rem;
  height: 2rem;
}
nav button.hamburger-menu {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjMyIiB3aWR0aD0iMzIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbD0iI2NmZDhkYyIgZD0iTTQgMTBoMjRhMiAyIDAgMCAwIDAtNEg0YTIgMiAwIDAgMCAwIDR6bTI0IDRINGEyIDIgMCAwIDAgMCA0aDI0YTIgMiAwIDAgMCAwLTR6bTAgOEg0YTIgMiAwIDAgMCAwIDRoMjRhMiAyIDAgMCAwIDAtNHoiLz48L3N2Zz4=);
}

header.app-header h1.title {
  font-family: Palatino, serif;
  font-size: 1.5rem;
  color: var(--color-title);
  margin: 0.85rem 0 0;
}

header.app-header nav .hamburger {
  position: absolute;
  display: block;
  top: 2rem;
  left: 1rem;
  border: none;
  padding: 0;
  width: 30px;
  height: 3px;
  background: var(--color-text);
  border-radius: 1px;
}
